.rodeo {
  text-align: center;
  mat-form-field.appSelectField {
    text-align: center;
    margin: 0 10px 0 20px;
  }
  mat-icon {
    vertical-align: center;
    cursor: pointer;
    transform: translateY(70%);
    font-size: 35px;
  }
}
