<div class="rodeo" fxLayout="row" fxFlex="100">
    <mat-icon fxFlex='15' class="noselect" (click)="rotateRodeo(-1)">keyboard_arrow_left</mat-icon>
    <mat-form-field fxFlex='70' class="appSelectField">
            <mat-select [(value)]="selectedItem" #rodeoSelect>
                    <mat-option *ngFor="let item of items" [value]="item.value">{{item.text}}</mat-option>
            </mat-select>
    </mat-form-field>
    <mat-icon fxFlex='15' class="noselect" (click)="rotateRodeo(1)">keyboard_arrow_right</mat-icon>
</div>