<div fxLayout="column" fxLayoutGap="20px">
  <app-character-header
    [identity]="character.identity"
    [status]="character.status"
    fxFlex="100"
  ></app-character-header>
  <app-standard-card>
    <div class="standard-card-title">
      <app-rodeo
        [items]="screenSelections"
        [(selectedItem)]="screenSelected"
        fxFlex="100"
      ></app-rodeo>
    </div>
    <div class="standard-card-content">
      <app-character-skills
        [skills]="character.skills"
        fxFlex="100"
        [hidden]="screenSelected !== 'skills'"
      ></app-character-skills>
      <app-character-traits
        [traits]="character.traits"
        fxFlex="100"
        [hidden]="screenSelected !== 'traits'"
      ></app-character-traits>
      <app-character-details
        [attributes]="character.attributes"
        [hidden]="screenSelected !== 'details'"
        fxFlex="100"
      ></app-character-details>
    </div>
  </app-standard-card>
</div>
