<div fxLayout="column" fxLayoutGap="25px">
  <h3>Attributes</h3>
  <app-attributes [attributes]="attributes"></app-attributes>
  <div fxLayout="column" fxLayoutGap="20px">
    <div fxFlex="50">
      <h3>Encumbrance</h3>
      <app-encumbrance [encumbranceLevels]="encumbranceLevels"></app-encumbrance>
    </div>
    <div fxFlex="50">
      <h3>Lifting and Moving</h3>
      <app-lifting-and-moving [liftingandMovingItems]="liftingandMovingItems"></app-lifting-and-moving>
    </div>
  </div>
</div>