<div id="throwing">
  <app-standard-card>
    <div class="standard-card-title">Throwing</div>
    <div class="standard-card-content">
      <form
        [formGroup]="throwingForm"
        (ngSubmit)="onSubmit()"
        fxLayout="column"
      >
        <mat-form-field>
          <input
            matInput
            type="number"
            formControlName="liftingStrength"
            placeholder="Lifting Strength"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="number"
            formControlName="itemWeight"
            placeholder="Item Weight (lbs)"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="number"
            formControlName="extraEffort"
            placeholder="Extra Effort WL Penalty"
          />
        </mat-form-field>
        <button mat-raised-button color="primary">Throw!</button>
      </form>
      <div *ngIf="result" id="results">
        <h3>Distance</h3>
        <p>{{ result.distance_yards }} yards</p>
        <mat-divider></mat-divider>
        <h3>Damage</h3>
        <p>
          {{ result.damageFormula }}({{
            (result.thrust_damage_mod >= 0 ? '+' : '') +
              result.thrust_damage_mod
          }}) = {{ result.damage }}
        </p>
        <mat-divider></mat-divider>
        <h3>Formula</h3>
        <p>Thrust {{ result.thrust_damage_mod_text }}</p>
      </div>
    </div>
  </app-standard-card>
</div>
