<div fxLayout="row" class="content noselect" (click)="roll()">
  <div fxFlex="50">
    <div class="name">{{ name }}</div>
    <div *ngIf="notes" class="note">{{ notes }}</div>
  </div>
  <div fxFlex="15">{{ target }}</div>
  <div fxFlex="35">
    <ng-container *ngIf="!readOnly">
      <ng-container *ngTemplateOutlet="tmplResult"></ng-container>
    </ng-container>
  </div>
</div>

<ng-template #tmplResult>
  <ng-container *ngIf="result; else rollIcon">
    <ng-container *ngIf="result.marginOfSuccess; else customRollResult">
      <app-result-icon
        [success]="result.success"
        [value]="result.result + ' (' + result.marginOfSuccess + ')'"
      ></app-result-icon>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #rollIcon>
  <mat-icon>refresh</mat-icon>
</ng-template>

<ng-template #customRollResult>
  <mat-chip-list>
    <mat-chip selected style="min-height:22px; padding:1px 8px;">{{ result.result }}</mat-chip>
  </mat-chip-list>
</ng-template>
