<div id="hiking">
    <app-standard-card>
        <div class="standard-card-title">Hiking Calculator</div>
        <div class="standard-card-content">
            <form [formGroup]="hikingForm" (ngSubmit)="onSubmit()" fxLayout="column">
                <!-- RuleSet Options -->
                <mat-radio-group formControlName="ruleSet">
                    <mat-radio-button *ngFor="let choice of RulesMode" [value]="choice.value">
                        {{choice.viewValue}}
                    </mat-radio-button>
                </mat-radio-group> <br/>
                <!-- Weather Options -->
                <mat-form-field>
                    <mat-label>Weather</mat-label>
                    <mat-select formControlName="weather" name="HikingWeather">
                        <mat-option *ngFor="let choice of HikingWeather" [value]="choice.value">
                            {{ choice.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- Terrain Options -->
                <mat-form-field>
                    <mat-label>Terrain</mat-label>
                    <mat-select formControlName="terrainQuality" name="TerrainQuality">
                        <mat-option *ngFor="let choice of TerrainQuality" [value]="choice.value">
                            {{ choice.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- Mode Options -->
                <mat-radio-group formControlName="mode">
                    <mat-radio-button *ngFor="let choice of HikingCalculatorMode" [value]="choice.value">
                        {{choice.viewValue}}
                    </mat-radio-button>
                    <!-- Hiking With Leader? -->
                    <mat-checkbox formControlName="leadership">Leader with skill 12+</mat-checkbox><br/>
                </mat-radio-group><br/>
                <!-- On/Off Road Travel? -->
                <mat-slide-toggle formControlName="offRoad">Off-Road?</mat-slide-toggle>
                <!-- Road Quality Radio -->
                <mat-radio-group formControlName="roadQuality">
                    <mat-radio-button *ngFor="let choice of RoadQuality" [value]="choice.value">{{ choice.viewValue }} Quality</mat-radio-button>
                </mat-radio-group><br/>
                <!-- Goal (time/distance) -->
                <mat-form-field>
                    <mat-label *ngIf="hikingForm.value.mode === 0">Days Hiking</mat-label>
                    <mat-label *ngIf="hikingForm.value.mode === 1">Miles To Travel</mat-label>
                    <input matInput formControlName="goal" placeholder="Goal" type="number" />
                </mat-form-field>

                <button mat-raised-button color="primary">Hike</button>

                <!-- Hiker Pool Table -->
                <table mat-table [dataSource]="dataSource" formArrayName="hikerList" class="mat-elevation-z8" *ngIf="hikerList.value.length !== 0">
                    <!-- Move Column -->
                    <ng-container matColumnDef="move">
                        <th mat-header-cell *matHeaderCellDef>Move</th>
                        <td mat-cell *matCellDef="let hiker; let index = index" [formGroupName]="index">
                            <mat-form-field>
                                <input matInput type="number" formControlName="basicMove" />
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <!-- Skill Column -->
                    <ng-container matColumnDef="skill">
                        <th mat-header-cell *matHeaderCellDef>Skill</th>
                        <td mat-cell *matCellDef="let hiker; let index = index" [formGroupName]="index">
                            <mat-form-field>
                                <input matInput type="number" formControlName="hikingSkill" />
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <!-- Will Column -->
                    <ng-container matColumnDef="will">
                        <th mat-header-cell *matHeaderCellDef>will</th>
                        <td mat-cell *matCellDef="let hiker; let index = index" [formGroupName]="index">
                            <mat-form-field>
                                <input matInput type="number" formControlName="will" />
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <!-- Extra Effort Column -->
                    <ng-container matColumnDef="extraEffort">
                        <th mat-header-cell *matHeaderCellDef>Extra Effort</th>
                        <td mat-cell *matCellDef="let hiker; let index = index" [formGroupName]="index">
                            <mat-slide-toggle formControlName="extraEffort"></mat-slide-toggle>
                        </td>
                    </ng-container>
                    <!-- Equipment Column -->
                    <ng-container matColumnDef="equipment">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let hiker; let index = index" [formGroupName]="index">
                            <mat-checkbox *ngIf="hikingForm.value.terrainQuality === 4" formControlName="useIceSkates">Skates</mat-checkbox>
                            <mat-checkbox *ngIf="hikingForm.value.weather === 2 || hikingForm.value.weather === 3" formControlName="useSkis">Skis</mat-checkbox>
                        </td>
                    </ng-container>
                    <!-- roll results -->
                    <ng-container matColumnDef="rollResult">
                        <th mat-header-cell *matHeaderCellDef>
                            Results
                        </th>
                        <td mat-cell *matCellDef="let hiker; let index = index">
                            <app-row-roller [readOnly]="true" [name]="'tom'" [target]="hiker.value.hikingSkill"></app-row-roller>
                        </td>
                    </ng-container>
                    <!-- Delete Entry Column -->
                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let hiker; let index = index">
                            <button type="button" (click)="deleteEntry(index)" mat-flat-button color="accent">delete</button>
                        </td>
                    </ng-container>
                    <!-- Row definitions -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns"></tr>
                </table>


                <!-- List experiment -->
                <!-- <mat-action-list formArrayName="hikerList">
                    <mat-list-item *ngFor="let hiker of hikerList.controls; let i = index" [formGroupName]="i">
                        <mat-form-field>
                            <mat-label>Skill</mat-label>
                            <input matInput type="number" formControlName="hikingSkill" />
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Move</mat-label>
                            <input matInput type="number" formControlName="basicMove" />
                        </mat-form-field><br/>
                        <div>
                            <mat-checkbox formControlName="useSkis" *ngIf="hikingForm.value.weather === 2 || hikingForm.value.weather === 3">Skis</mat-checkbox><br/>
                            <mat-checkbox formControlName="useIceSkates" *ngIf="hikingForm.value.terrainQuality === 4 || hikingForm.value.weather === 4">Skates</mat-checkbox>
                        </div>
                    </mat-list-item>
                </mat-action-list> -->

                <!-- Accordian Experiment -->
                <!-- <mat-accordion formArrayName="hikerList">
                    <mat-expansion-panel *ngFor="let hiker of hikerList.controls; let i = index" [formGroupName]="i">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Tom
                            </mat-panel-title>
                            <mat-panel-description>
                                Move: {{ hiker.value.basicMove }} | Skill: {{ hiker.value.hikingSkill }}
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <mat-form-field>
                            <mat-label>Move</mat-label>
                            <input matInput type="number" formControlName="basicMove" [value]="hiker.value.basicMove" />
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Skill</mat-label>
                            <input matInput type="number" formControlName="hikingSkill" />
                        </mat-form-field>

                        <mat-action-row>
                            <mat-slide-toggle formControlName="extraEffort">Extra-Effort</mat-slide-toggle>
                            <button (click)="deleteEntry(i)" type="button">DEL</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </mat-accordion> -->

            </form>

            <button mat-flat-button color="accent" (click)="addRow()">Add A Hiker</button>

            <!-- results panel -->
            <div [ngSwitch]="hikingForm.value.mode" *ngIf="renderResults">
                <div *ngSwitchCase=" 0 ">
                    <h1>
                        You Can Travel {{ result }} miles in {{ hikingForm.value.goal }} days
                    </h1>
                </div>
                <div *ngSwitchCase=" 1 ">
                    <h1>
                        It takes you {{ result.days }} days, {{ result.hours }} hours, and {{ result.minutes }} minutes to travel {{ hikingForm.value.goal }} miles
                    </h1>
                </div>
            </div>
        </div>
    </app-standard-card>
</div>