table {
    width: auto;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.mat-column-move mat-form-field {
    width: 50px !important;
}

.mat-column-skill mat-form-field {
    width: 50px !important;
}

.mat-column-will mat-form-field {
    width: 50px !important;
}

mat-radio-group mat-checkbox {
    margin-left: 16px;
}