<div id="characterList" fxFlex.xl="75" fxFlex.lt-xl="85" fxFlex.md="95" fxFlex.lt-md="100">
  <div class="titleBar">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Filter"
        (keyup)="filterCards($event)"
      />
    </mat-form-field>
  </div>
  <ng-container *ngTemplateOutlet="cards"></ng-container>
</div>

<ng-template #cards>
  <div #cardView>
    <div class="popular" fxLayout="row wrap">
      <ng-container *ngFor="let card of heroCards">
        <ng-container
          *ngTemplateOutlet="cardPopular; context: { card: card }"
        ></ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #cardPopular let-card="card">
  <div
    class="imageContainer"
    fxFlex.gt-sm="33.33"
    fxFlex.sm="100"
    fxGlex.xs="100"
    [fxHide]="!card.visible"
  >
    <ng-container
      *ngTemplateOutlet="cardImage; context: { card: card }"
    ></ng-container>
  </div>
</ng-template>

<ng-template #cardImage let-card="card">
  <a [href]="'characters/' + card.id" title="{{ card.name }}">
    <img [src]="card.imgSrc" />
    <h1 class="name">{{ card.name }}</h1>
  </a>
  <mat-icon
    class="favorite noselect"
    [ngClass]="card.favorite ? 'active' : ''"
    (click)="favoriteToggle(card.id)"
    >star</mat-icon
  >
</ng-template>
