<div id="characterList">
  <div class="titleBar">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Filter"
        (keyup)="filterCards($event)"
      />
    </mat-form-field>
  </div>
  <ng-container *ngTemplateOutlet="cards"></ng-container>
</div>

<ng-template #cards>
  <div #cardView>
    <div class="popular" fxLayout="row wrap">
      <ng-container *ngFor="let card of heroCards">
        <ng-container
          *ngTemplateOutlet="cardPopular; context: { card: card }"
        ></ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #cardPopular let-card="card">
  <div
    class="imageContainer"
    fxFlex.gt-sm="calc(33.33% - 15px)"
    fxFlex.sm="50"
    fxGlex.xs="100"
    [fxHide]="!card.visible"
  >
    <ng-container
      *ngTemplateOutlet="cardImage; context: { card: card }"
    ></ng-container>
  </div>
</ng-template>

<ng-template #cardImage let-card="card">
  <a [routerLink]="['/characters', card.id]" [title]="card.name">
    <img [src]="card.imgSrc"/>
    <div class="name" [innerHtml]="card.name"></div>
  </a>
  <mat-icon
    class="favorite noselect"
    [ngClass]="card.favorite ? 'active' : ''"
    (click)="favoriteToggle(card.id)"
    >star</mat-icon
  >
</ng-template>
