<div class="character-header">
  <app-standard-card>
    <div class="standard-card-title" innerHtml='{{ identity.name }}'></div>
    <div class="standard-card-content">
      <ng-container *ngTemplateOutlet="hpfp"></ng-container>
    </div>
  </app-standard-card>
</div>

<ng-template #hpfp>
  <div fxLayout="column" style="font-size:1.5em">
    <div fxFlex="100">
      <app-incrementer
        placeholder="Hit Points"
        [(value)]="status.HP.Current"
        [max]="status.HP.Max"
        displayMax="true"
      ></app-incrementer>
      <ng-container *ngTemplateOutlet="statusLevel; context: {statusIncrement:status.HP}"></ng-container>
    </div>
    <div fxFlex="100">
      <app-incrementer
        placeholder="Fatigue Points"
        [(value)]="status.FP.Current"
        [max]="status.FP.Max"
        displayMax="true"
      ></app-incrementer>
      <ng-container *ngTemplateOutlet="statusLevel; context: {statusIncrement:status.FP}"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template let-statusIncrement="statusIncrement" #statusLevel>
  <div class="statusLevel" *ngIf="statusIncrement.getStatusLevel()">
        {{ statusIncrement.getStatusLevel()?.name }}:
        {{ statusIncrement.getStatusLevel()?.description }}
  </div>
</ng-template>
