::ng-deep {
    .skills {
        .skillItem {
            cursor: pointer;
            .name {
                font-weight: 500;
            }
            .content {
                min-height: 40px;
                padding-top: 10px;
            }
            mat-icon {
                font-size: 18px;
            }
        }
    }
}