/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    margin: 0;
    padding: 0;
    background-image: url('/assets/images/backgrounds/mountains.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #303030;
    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome and Opera */
      }
    .mat-drawer-container {
        background-color: transparent;
        #navDrawer.mat-drawer {
            min-width: 300px;
            background-color: rgba(255, 255, 255, 1.00)
        }
        #utilityDrawer.mat-drawer {
            width: 100vw;
            max-width:500px;
            background: transparent;
            padding:5px 10px;
            @media screen and (max-width: 959px) {
                max-width:100vw;
            }
        }
        .mat-drawer-backdrop {
            background: transparent;
        }
    }
}