<div id="diceRoller">
    <app-standard-card>
        <div class="standard-card-title">Dice Roller</div>
        <div class="standard-card-content">
            <form [formGroup]="diceForm" (ngSubmit)="onSubmit()" fxLayout="column">
                <mat-form-field>
                    <input matInput type="number" placeholder="# of Dice" formControlName="numberOfDice" maxLength="2" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" formControlName="modifier" placeholder="Modifier" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" formControlName="multiple" placeholder="Multiple" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" formControlName="numberOfRolls" placeholder="# of Rolls" />
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="number" formControlName="target" placeholder="Target" />
                </mat-form-field>
                <button mat-raised-button color="primary">Roll</button>
            </form>
            <div id="resultsPanel">
                <mat-list>
                    <ng-container *ngFor="let result of results; let last=last;">
                        <mat-list-item>
                            <mat-chip-list>
                                <mat-chip class="primeResult" selected [color]="result.success ? 'primary' : 'warn'">
                                    <h1>{{result.result}}</h1>
                                </mat-chip>
                                <mat-chip *ngIf="result.absoluteMargin !== null">
                                    {{(result.success ? '+' : '-')+ result.absoluteMargin}}
                                </mat-chip>
                                <mat-chip *ngFor="let die of result.dieResults">
                                    {{die}}
                                </mat-chip>
                            </mat-chip-list>
                        </mat-list-item>
                        <mat-divider *ngIf="!last"></mat-divider>
                    </ng-container>
                </mat-list>
            </div>
        </div>
    </app-standard-card>
</div>