<div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign="space-between">
  <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="100">
    <ng-container *ngTemplateOutlet="colOne"></ng-container>
  </div>
  <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="100">
    <ng-container *ngTemplateOutlet="colTwo"></ng-container>
  </div>
  <div fxFlex.gt-sm="33.33%" fxFlex.lt-md="100">
    <ng-container *ngTemplateOutlet="colThree"></ng-container>
  </div>
</div>

<ng-template #colOne>
  <div fxLayout="column">
    <ng-container
      *ngTemplateOutlet="
        roller;
        context: {
          $implicit: {
            name: 'Strength',
            target: attributes.strength.value
          }
        }
      "
    ></ng-container>

    <ng-container
      *ngTemplateOutlet="
        roller;
        context: {
          $implicit: {
            name: 'Dexterity',
            target: attributes.dexterity
          }
        }
      "
    ></ng-container>

    <ng-container
      *ngTemplateOutlet="
        roller;
        context: {
          $implicit: {
            name: 'Intelligence',
            target: attributes.intelligence
          }
        }
      "
    ></ng-container>

    <ng-container
      *ngTemplateOutlet="
        roller;
        context: {
          $implicit: {
            name: 'Health',
            target: attributes.health
          }
        }
      "
    ></ng-container>

    <ng-container
      *ngTemplateOutlet="
        roller;
        context: {
          $implicit: {
            name: 'Will',
            target: attributes.will
          }
        }
      "
    ></ng-container>
  </div>
</ng-template>

<ng-template #colTwo>
  <div fxLayout="column">
    <ng-container
      *ngTemplateOutlet="
        roller;
        context: {
          $implicit: {
            name: 'Perception',
            target: attributes.perception.value
          }
        }
      "
    ></ng-container>

    <ng-container
      *ngTemplateOutlet="
        roller;
        context: {
          $implicit: {
            name: 'Vision',
            target: attributes.perception.vision
          }
        }
      "
    ></ng-container>

    <ng-container
      *ngTemplateOutlet="
        roller;
        context: {
          $implicit: {
            name: 'Hearing',
            target: attributes.perception.hearing
          }
        }
      "
    ></ng-container>

    <ng-container
      *ngTemplateOutlet="
        roller;
        context: {
          $implicit: {
            name: 'Taste/Smell',
            target: attributes.perception.tasteSmell
          }
        }
      "
    ></ng-container>

    <ng-container
      *ngTemplateOutlet="
        roller;
        context: {
          $implicit: {
            name: 'Touch',
            target: attributes.perception.touch
          }
        }
      "
    ></ng-container>
  </div>
</ng-template>

<ng-template #colThree>
  <div fxLayout="column">
    <ng-container
      *ngTemplateOutlet="
        roller;
        context: {
          $implicit: {
            name: 'Speed',
            target: attributes.basicSpeed,
            readOnly: true
          }
        }
      "
    ></ng-container>

    <ng-container
      *ngTemplateOutlet="
        roller;
        context: {
          $implicit: {
            name: 'Move',
            target: attributes.basicMove,
            readOnly: true
          }
        }
      "
    ></ng-container>

    <ng-container
      *ngTemplateOutlet="
        roller;
        context: {
          $implicit: {
            name: 'Fright',
            target: attributes.frightCheck
          }
        }
      "
    ></ng-container>

    <ng-container
      *ngTemplateOutlet="
        roller;
        context: {
          $implicit: {
            name: 'Thrust',
            target: attributes.strength.thrust,
            customRoll: rollDamage
          }
        }
      "
    ></ng-container>

    <ng-container
      *ngTemplateOutlet="
        roller;
        context: {
          $implicit: {
            name: 'Swing',
            target: attributes.strength.swing,
            customRoll: rollDamage
          }
        }
      "
    ></ng-container>
  </div>
</ng-template>

<ng-template #roller let-roller="$implicit">
  <div fxFlex="100">
    <app-row-roller
      [name]="roller.name"
      [target]="roller.target"
      [readOnly]="roller.readOnly"
      [customRoll]="roller.customRoll"
    ></app-row-roller>
    <mat-divider></mat-divider>
  </div>
</ng-template>
