#home {
    .titleBar {
        background-color: rgba(255,255,255, .8);
        padding: 15px 15px 0px 15px;
        position: relative;
        height:40px;
        .topControls {
            position: absolute;
            right:15px;
            top:0;
        }
    }
    .popular {
        .imageContainer {
            height: 50vh;
        }
    }
    .heroList {
        .imageContainer {
            height: 25vh;
        }
    }
    .imageContainer {
        position: relative;
        min-height: 150px;
        overflow: hidden;
        img {
            min-width:100%;
            min-height:100%;
            object-fit:cover;
            margin-left:50%;
            transform: translateX(-50%);
        }
        .name{
            position:absolute;
            bottom:0;
            left:0;
            right:0;
            text-align:center;
            color:white;
            background-color: rgba(0,0,0, .60)
        }
    }
}